<%= render "shared/container", classes: "p-4 flex flex-col items-center" do %>
  <h1 class="text-bold">My Lists</h1>
    <div class="flex justify-center items-center">
    <div><%== pagy_nav(@pagy) %></div>
    </div>
    <%= render partial: "list", collection: @lists %>
  <% end %>
  <%= link_to("Add list", new_list_path, class: "btn btn-primary flex justify-center items-center") %>
    <div class="flex justify-center items-center">
    <div class='mb-20 pb-2'><%== pagy_nav(@pagy) %></div>
</div>
