<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
     <%= link_to(
        "Lists",
        lists_path
     ) %>
   </li>
    <li class="breadcrumb-item">
     <%= params[:id] %>
   </li>
  </ol>
</nav>

<h1>My <%= @list.name %> List</h1>
  <div class="container">
    <% @products.each do |product| %>
      <div class="box border">
        <div class="product-img">
          <img src="https://placedog.net/100/100?random" width="100" alt="" />
        </div>
        <div class="product-info">
          <h1><%= product.name %></h1>
            <p class="price">URL: <%= link_to product.name,  product.url %></p>
            <p class="description"><p><%= product.bio %></p>
          <br/><br/>
          <% solution = Solution.find_by(list: @list, product: product) %>
          <%= solution.get_likes.size %>
            <%= link_to("See More", product_path(product.id), class: "btn btn-warning") %>
            <%= link_to(
              @contributor.voted_for?(solution) ? "Down Vote" : "Up Vote",
              toggle_vote_list_product_path(list_id: @list.id, id: product.id),
              class: "btn btn-success",
              method: :post,
            ) %>
        </div>
      </div>
    <% end %>
  </div>
<%= link_to("Add Product", new_list_solution_path(@list), class: "btn btn-success") %>

<button class = "btn btn-secondary"><%= link_to("Contributors", list_contributors_path(list_id:@list.id)) %></button>
