<main class="h-full bg-gradient-to-t from-pink-200 to-purple-400 pt-20">
  <h1 class="bg-transparent text-white">My <%= @list.name %> List</h1>
    <div class="ml-60 ">
      <div class="row justify-content-center">
        <div class="col-4" data-toggle="modal" data-target='#<%= "new#{@list.id}" %>'>
          <i class="fas fa-user-plus fa-2x text-pink-400 hover:text-purple-900"></i>
        </div>
        <div class="col-4">
          <i class="fas fa-plus fa-2x text-pink-400 hover:text-purple-900"></i>
        </div>
        <div class="col-4" data-toggle="modal" data-target='#'>
          <i class="fas fa-user fa-2x text-pink-400 hover:text-purple-900"></i>
        </div>
      </div>
    </div>
  <%= render "shared/lgcontainer", classes: "p-4 flex flex-col items-center h-full" do %>
  <%= render partial: "products/product", collection: @products, classes: "mb-8" %>
  <% end %>
</main>





<%# need to be use to make buttons above live %>
<%# <%= link_to("Add Product", new_list_solution_path(@list), class: "btn btn-success") %>

<%# <button class = "btn btn-secondary"><%= link_to("Contributors", list_contributors_path(list_id:@list.id)) %></button> %> %>

<%# colaborator add modal %>
<div class="modal fade" id='<%= "new#{@list.id}" %>' tabindex="-1" role="dialog" aria-labelledby='<%= "new#{@list.id}" %>' aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content w-full">
      <div class="modal-header" style="background-color: rgb(39,28,162)">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white">Add a contributor</h5>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close" style="background-color: rgb(254,194,242)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: rgb(139,128,254)">
        <%= render "contributors/new", list: @list %>
      </div>
    </div>
  </div>
</div>
