<div class="min-h-screen bg-gradient-to-t from-pink-200 to-purple-400 p-0 flex justify-center text-white h-screen">
  <div class="max-w-sm rounded overflow-hidden shadow-md h-screen w-3/4 my-3 bg-gradient-to-t from-purple-400 to-purple-300">
    <div class="px-6 py-1">
      <h1 class="animate-pulse font-bold text-xl text-center">Edit <%= resource_name.to_s.humanize %></h1>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="font-serif text-sm mb-0">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :business_name, class: "mb-0" %>
          <%= f.input :full_name, class: "mb-0"%>
          <%= f.input :password,  class: "mb-0",
                      hint: "Leave blank if you don't wish to change.",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,  class: "mb-0",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password, class: "mb-0",
                      hint: "Enter current password to confirm changes.",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <h1 class="form-actions text-center">
          <%= f.button :submit, "Update", class: "bg-purple-500 hover:bg-purple-700 text-white font-bold rounded-full w-full shadow-md" %>
        </h1>
      <% end %>
      <p class="font-serif text-sm mb-0 text-center">Unhappy? <%= link_to "Cancel my account.", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>
