<nav id="nav-bar" class= "fixed bottom-0 inset-x-0 bg bg-white rounded-t-l py-4 flex justify-between h-20 border-solid border-t border-gray-200 shadow">
  <% if session[:saved_products] && session[:saved_products].count > 0 %>
    <div class="absolute w-full">
      <div class="flex justify-around -m-10">
        <%= link_to(
          new_list_path(
            list: {
              name: "Default",
              description: "A default list",
            },
            "product_ids" => session[:saved_products],
          ),
          class: "mt-16 m-auto no-underline hover:no-underline hover:black"
          ) do %>
            <i class="fas fa-plus-circle fa-2x text-purple-400 hover:text-purple-900 bg-white rounded-full border-2 "></i>
            <p id="#nav-count" class="relative -top-12 -right-5 bg-red-600 pl-1 w-7 h-7 rounded-full font-bold text-gray-200 text-center">
              <%= session[:saved_products].count %>
            </p>
        <% end %>
      </div>
    </div>
  <% end %>
  <a href="../" class="w-full text-center">
    <i class="fas fa-home fa-2x <%= action_name == "index" ? "text-pink-200" : "text-purple-300"  %> hover:text-purple-900"></i>
  </a>
  <%= link_to(
    products_path,
    class: "w-full text-center "
    ) do %>
    <i class="fas fa-th-large fa-2x <%= controller_name == "products" && action_name == "index" ? "text-purple-300" : "text-pink-200"  %> hover:text-purple-900"></i>
    <% end %>
  <% if user_signed_in? %>
    <%= link_to(
        lists_path,
        class: "w-full text-center"
        )do %>
        <i class="fas fa-list-ul fa-2x  <%= controller_name == "lists" && action_name == "index" ? "text-purple-300": "text-pink-200" %> hover:text-purple-900"></i>
        <% end %>


    <div class = "w-full text-center">
      <i class="fas fa-user fa-2x <%= user_signed_in? ? "text-purple-300" : "text-pink-200" %> hover:text-purple-900" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu">
        <%= link_to "Edit your profile", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>

  <% else %>
    <%= link_to(
      new_user_session_path,
      class: "w-full text-center"
      ) do %>
      <i class="fas fa-list-ul fa-2x text-pink-200 hover:text-purple-900"></i>
      <% end %>
    <%= link_to(
    new_user_session_path,
    class: "w-full text-center"
    ) do %>
    <i class="fas fa-user fa-2x text-pink-200 hover:text-purple-900"></i>
    <% end %>
  <% end %>
</nav>
