<div class="container col-6 mt-3 bg-white border p-5">
  <div class="d-flex justify-content-center">
    <h1>Welcome to BOB</h1>
  </div>
  <% if user_signed_in? %>
    <div class="text-center mt-5">
      <h4>Hello <%=current_user.full_name %>! </h4>
      <h4>Need some help to grow <%=current_user.business_name %>?</h4>
      <%= link_to("Tell us more about you", edit_user_registration_path, class: "btn btn-info m-3")%>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <%= link_to("Sign In",  new_user_session_path, class: "btn btn-success m-2") %>
      <%= link_to("Sign Up",  new_user_registration_path, class: "btn btn-primary m-2") %>
    </div>
  <% end %>
    <div class="d-flex justify-content-center mt-5">
      <%= link_to("Browse our solutions", products_path, class: "btn btn-dark") %>
    </div>
</div>
