<%= simple_form_for(product) do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Current product categories</h5>
      <% product.category_list.each do |category| %>
      <p class="card-text"><%= link_to(
            category,
            toggle_category_product_path(product, category_name: category),
            class: "text-uppercase list-group-item list-group-item-success",
            method: :post,
          ) %></p>
      <%end%>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add additional categories</h5>
        <% @categories && @categories.each do |category| %>
          <% next if product.categories.include?(category) %>
        <p class="card-text"><%= link_to(
            category.name,
            toggle_category_product_path(product, category_name: category.name),
            class: "text-uppercase list-group-item list-group-item-info",
            method: :post,
          ) %></p>
        <% end %>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Current Business Category</h5>
      <% product.business_list.each do |business| %>
      <p class="card-text"><%= link_to(
            business,
            toggle_business_product_path(product, business_name: business),
            class: "text-uppercase list-group-item list-group-item-success",
            method: :post,
          ) %></p>
      <%end%>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add additional business categories</h5>
        <% Product::BUSINESS_SIZES.each do |business| %>
          <% next if product.businesses.include?(business) %>
        <p class="card-text"><%= link_to(
            business,
            toggle_business_product_path(product, business_name: business),
            class: "text-uppercase list-group-item list-group-item-info",
            method: :post,
          ) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

  <%= f.submit class:"btn btn-primary" %>
<% end %>
