<div class="card mb-3" >
  <div class="card-img">
    <img src="https://source.unsplash.com/1600x900/?software">
  </div>
  <div class="card-body rounded-lg">
    <div class="row">
      <div class="card-body1 d-flex justify-content-between">
        <div class="product-img">
          <%= image_tag product.image_url, height: 100 %>
        </div>
        <div class="col-9">
          <h1 class="font-bold text-lg"><%= product.name %></h1>
          <p><%= product.bio %></p>
          </div>
        </div>
        </div>
        <div class="font-italic text-sm">
          Link: <%= link_to product.name, product.url %>
        </div>
          <div>
            <p><%= product.info %></p>
          </div>
          <% product.category_list.each do |category| %>
          <p class =" text-uppercase card-text badge badge-pill badge-info"><%= category %></p>
          <%end%>
          <% product.business_list.each do |business| %>
          <p class =" text-uppercase card-text badge badge-pill badge-secondary"><%= business %></p>
          <%end%>
          <% product.cost_list.each do |cost| %>
          <p class =" text-uppercase card-text badge badge-pill badge-success"><%= cost %></p>
          <%end%>
          <div>
          <button type="button" class="btn bg-purple-600 text-pink-200" data-toggle="modal" data-target='#<%= "createList#{product.id}" %>' >Add to List</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
