<%= render "shared/container", classes: "px-4 py-2 items-center bg-white" do %>
  <div class="flex rounded-md shadow-sm h-40 items-center <%= session[:saved_products]&.include?(product.id) ? "bg-gray-50" : "bg-pink-50"  %>"
    id="product_<%=product.id%>"
    data-controller="save"
    data-save-url-value="<%= save_to_session_product_url(product) %>"
    data-save-target="product">
    <div class="col-4 py-4 inline-block">
      <%= image_tag product.image_url %>
    </div>
    <div class='col-8 pt-2 p-3.5 inline-block align-middle' >
      <h1 class='font-bold text-lg' data-toggle="modal" data-target='#<%= "show#{product.id}" %>'>
        <% if product.name.include?("-") %>
          <%= product.name.split("-")[0] %>
        <% elsif product.name.include?(":") %>
          <%= product.name.split(":")[0] %>
        <% else %>
          <%= product.name.split.first(4).join(" ")%>
        <% end %>
      </h1>
      <%# <div class="font-italic text-sm">
        Link: <%=link_to product.name, product.url %>
      <%# </div> %>
      <p class="text-sm"><%= product.bio %></p>
      <div class="flex">
        <div class="flex-1">
          <div class="text-purple-400">
            <% icons = { bookkeeping:"fas fa-book fa-3x", userexperience: "fas fa-edit", developertools: "fas fa-laptop-code", marketing: "fas fa-search-dollar",
                CRM: "fas fa-project-diagram", designtools: "fas fa-pencil-ruler", productivity: "fas fa-industry", analytics: "fas fa-chart-line" } %>
            <% product.category_list.each do |category| %>
              <i class="<%= icons[category.gsub(' ', '').to_sym] %> grid text-lg"></i>
            <% end %>
            <% product.business_list.each do |business| %>
              <p class ="description text-uppercase badge badge-pill badge-secondary"><%= business %></p>
            <% end %>
            <% product.cost_list.each do |cost| %>
              <p class ="description text-uppercase badge badge-pill badge-success"><%= cost %></p>
            <% end %>
          </div>
        </div>
        <div>
        <div class="flex-1 <%= session[:saved_products]&.include?(product.id) ? "bg-purple-200" : "bg-purple-600" %> w-16 text-center px-0 rounded text-sm">
          <% if current_user %>
            <%= render "products/savemodal", product: product %>
          <% else %>
            <button class="text-white font-bold text-sm py-2 rounded" data-action="click->save#addToList">
              <%= session[:saved_products]&.include?(product.id) ?
                  "Saved!" :
                  "ADD" %>
            </button>
          <% end %>
        </div>
        </div>
      </div>
    </div>



<!-- Modal -->
  <div class="modal fade" id='<%= "createList#{product.id}" %>' tabindex="-1" role="dialog" aria-labelledby='<%= "createList#{product.id}" %>' aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content w-full">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add to List</h5>
          <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "products/dropdown", product: product %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <%# show id product modal to render %>
  <div class="modal fade rounded-lg" id='<%= "show#{product.id}" %>' tabindex="-1" role="dialog" aria-labelledby='<%= "show#{product.id}" %>' aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content w-full">
        <div class="modal-header" style="background-color: rgb(39,28,162)">
          <h5 class="modal-title" id="exampleModalLabel" style="color: white">Product details</h5>
          <button type="button" class="btn" data-dismiss="modal" aria-label="Close" style="background-color: rgb(254,194,242)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: rgb(139,128,254)">
          <%= render "products/modal", product: product %>
        </div>
      </div>
    </div>
  </div>
<% end %>
