<%= render "shared/container", classes: "p-4 flex flex-col items-center" do %>
  <h1 class="bold">Products</h1>
  <div class= "row w-full overflow-scroll">
    <div class="d-inline-flex p-2" >
      <%= render 'shared/categorytags' %>
    </div>
  </div>
  <div class ="row">

  </div>
  <%= render partial: "product", collection: @products %>
  <%= link_to("Add Product", new_product_path, class: "btn btn-primary") %>
<% end %>
    <div class="mb-20 d-inline-flex p-2"><%== pagy_nav(@pagy) %></div>
