<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
     Products
   </li>
  </ol>
</nav>
<h1>Products</h1>
  <div class= "row">
    <div class="d-inline-flex p-2" >
    <% @categories.each do |category| %>
    <%= link_to(
      "#{category.name}-#{category.taggings_count}",
      { :action => :index, :category => category.name },
        :class => "text-uppercase card-text badge badge-pill badge-secondary"
        ) %>
  <% end %>
    <%= link_to(
      "Show All",
      { :action => :index},
        :class => "text-uppercase card-text badge badge-pill badge-secondary"
        ) %>
    </div>
  </div>

  <div class ="row">
    <div class="d-inline-flex p-2"><%== pagy_bootstrap_nav(@pagy)%></div>
  </div>
<div class="row">
  <div class="col-sm-6">
  <% @products.each do |product| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%=link_to product.name,  product.url %></h5>
      <p class="card-text"><%= product.url %></p>
      <p class= "card-title">Categories</p>
      <% product.category_list.each do |x| %>
      <p class =" text-uppercase card-text badge badge-pill badge-info"><%= x %></p>
      <%end%>
      <% product.business_list.each do |business| %>
      <p class =" text-uppercase card-text badge badge-pill badge-success"><%= business %></p>
      <%end%>
      <div><%= link_to("Remove", product_path(product.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}) %></div>
      <div><%= link_to("Review", edit_product_path(product.id), class: "btn btn-secondary") %></div>
    </div>
  </div>
  <% end %>
  </div>
</div>
<%= link_to("Add Product", new_product_path, class: "btn btn-primary") %>
