<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
     Products
   </li>
  </ol>
</nav>
<h1>Products</h1>
  <div class= "row">
    <div class="d-inline-flex p-2" >
    <% @categories.each do |category| %>
    <%= link_to(
      "#{category.name}-#{category.taggings_count}",
      { :action => :index, :category => category.name },
        :class => "text-uppercase card-text badge badge-pill badge-secondary"
        ) %>
  <% end %>
    <%= link_to(
      "Show All",
      { :action => :index},
        :class => "text-uppercase card-text badge badge-pill badge-secondary"
        ) %>
    </div>
  </div>

  <div class ="row">
    <div class="d-inline-flex p-2"><%== pagy_bootstrap_nav(@pagy)%></div>
  </div>
<div class="container">
<% @products.each do |product| %>
  <div class="box border">
    <div class="product-img">
      <img src="https://placedog.net/100/100?random" width="100" alt="" />
    </div>
    <div class="product-info">
      <h1><%=product.name %></h1>
      <p class="price">URL:<%=link_to product.name,  product.url %></p>
      <p class="description"><p><%= product.bio %></p>
         <% product.category_list.each do |category| %>
          <p class =" description text-uppercase badge badge-pill badge-info"><%= category %></p>
          <%end%>
          <% product.business_list.each do |business| %>
          <p class ="description text-uppercase badge badge-pill badge-secondary"><%= business %></p>
          <%end%>
          <% product.cost_list.each do |cost| %>
          <p class ="description text-uppercase badge badge-pill badge-success"><%= cost %></p>
          <%end%>
      <br /><br />
          <button class = "btn btn-secondary"><%= link_to("Review", edit_product_path(product.id)) %></button>
          <button class = "btn btn-danger" ><%= link_to("Remove", product_path(product.id), method: :delete, data: {confirm: "Are you sure?"}) %></button>
    </div>
  </div>
  <% end %>
</div>
   <br /><br />

<%= link_to("Add Product", new_product_path, class: "btn btn-primary") %>
