<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <%= link_to("Products", products_path) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
  </ol>
</nav>
<h1><%= @product.name %></h1>
<div class="row">
  <div class="col-sm-6">
  <div class="card mb-3">
    <div class="card-body">
      <div class="product-img">
      <img src="https://placedog.net/100/100?random" width="100" alt="" />
    </div>
      <p class="card-text">URL:><a href=<%= @product.url %> target="_blank"><%= @product.name %>></p>
      <p><%= @product.bio %></p>
      <p><%= @product.info %></p>
      <% @product.category_list.each do |category| %>
      <p class =" text-uppercase card-text badge badge-pill badge-info"><%= category %></p>
      <%end%>
      <% @product.business_list.each do |business| %>
      <p class =" text-uppercase card-text badge badge-pill badge-secondary"><%= business %></p>
      <%end%>
      <% @product.cost_list.each do |cost| %>
      <p class =" text-uppercase card-text badge badge-pill badge-success"><%= cost %></p>
      <%end%>
      <div><%= link_to("Update", edit_product_path(@product.id), class: "btn btn-primary", data: {confirm: "Are you sure?"}) %></div>
    </div>
  </div>
  </div>
</div>
