<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
     <%= link_to(
        "Lists",
        lists_path
     ) %>
   </li>
    <li class="breadcrumb-item">
     <%= link_to(
        params[:list_id],
        list_path(params[:list_id])
     ) %>
   </li>
    <li class="breadcrumb-item">
      Contributors
   </li>
  </ol>
</nav>
<div class="row">
  <div class="container">
  <div class="box border">
    <h3>Contributors</h3>
      <% @contributors.each do |contributor| %>
      <%= contributor.user.full_name%>
      <%= contributor.user.email%>
      <%= contributor.role%>
      <%= link_to(
        "remove",
        remove_list_contributor_path(list_id: params[:list_id], id: contributor),
        class: "btn btn-danger",
        method: :post,
      ) %>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= link_to(
      "Add New Contributor",
      new_list_contributor_path(list_id: params[:list_id]),
      class: "btn btn-success"
    ) %>
  </div>
</div>
